<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}ORDER AGAIN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">CLEAR TABLE!</button>
</li>
